<div class="skills minerals">
    <!-- skill -->
    <div class="skill">
       <!-- title -->
       <div class="skill-title">
        Calcium
       </div>
       <!-- bar -->
       <div class="skill-bar" data-bar="{{nutrientsdata.Calcium|div:sum}}"><span></span></div>
    </div>
    <!-- #skill -->
    <!-- skill -->
    <div class="skill">
       <!-- title -->
       <div class="skill-title">
        Chloride
       </div>
       <!-- bar -->
       <div class="skill-bar" data-bar="{{nutrientsdata.Calcium|div:sum}}"><span></span></div>
    </div>
    <!-- #skill -->
    <!-- skill -->
    <div class="skill">
       <!-- title -->
       <div class="skill-title">
        Chromium
       </div>
       <!-- bar -->
       <div class="skill-bar" data-bar="{{nutrientsdata.Chromium|div:sum}}"><span></span></div>
    </div>
    <!-- #skill -->
    <!-- skill -->
    <div class="skill">
       <!-- title -->
       <div class="skill-title">
        Copper
       </div>
       <!-- bar -->
       <div class="skill-bar" data-bar="{{nutrientsdata.Copper|div:sum}}"><span></span></div>
    </div>
    <!-- #skill -->

    <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Iodine
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Iodine|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Iron
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Iron|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Magnesium
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Magnesium|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Manganese
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Manganese|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Molybdenum
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Molybdenum|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Phosphorus
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Phosphorus|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Potassium
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Potassium|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Selenium
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Selenium|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Sodium
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Sodium|div:sum}}"><span></span></div>
     </div>

     <div class="skill">
        <!-- title -->
        <div class="skill-title">
            Zinc
        </div>
        <!-- bar -->
        <div class="skill-bar" data-bar="{{nutrientsdata.Zinc|div:sum}}"><span></span></div>
     </div>
 </div>
</div>
</div>
</div>