{% extends 'nutrica/header.html' %}

{% load  static %}

{% block header %}

<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Registration Form</h2>
      </div>
      {% for message in messages %}
        <h2 id="alert">{{message}}</h2>
      {% endfor %}
      <div class="roww clearfix">
        <div class="">
          <form action="" method="post">
              {% csrf_token %}
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="text" name="username" placeholder="Username" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password1" placeholder="Password" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password2" placeholder="Re-type Password" required />
            </div>
            <div class="roww clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="first_name" placeholder="First Name" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="last_name" placeholder="Last Name" required />
                </div>
              </div>
            </div>
                  <div class="input_field radio_option">
                <input type="radio" name="radiogroup1" id="rd1">
                <label for="rd1">Male</label>
                <input type="radio" name="radiogroup1" id="rd2">
                <label for="rd2">Female</label>
                </div>

                <div class="input_field">
                    <input type="file" name="docdoc" id="docdoc">
                    <label for="docdoc">Identity Card</label>
                    </div>
            
              <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb1">
                  <label for="cb1">I agree with terms and conditions</label>
              </div>
              <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb2">
                  <label for="cb2">I want to receive the newsletter</label>
              </div>
            <input class="reg-btn" type="submit" value="Sign Up" />
            <div class="not-acc">
              <p>Have an account already? <a href="../login">Log in</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}