<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/myaccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="my-acc">
        <div class="my-acc-cont">
            <div class="info-sec-up">
                <div class="img-cont">
                    
                </div>
            </div>
            <div class="acc-info-sec">
                <div class="profile-cover-cont">
                    <div class="cover-img">
                        <div class="camera-box"><i class="fas fa-camera camera"></i></div>
                    <div class="cover-btn">
                        <button type="button"><i class="fas fa-plus"></i>&nbsp;&nbsp; Post Article</button>
                    </div>
                    <img src="../static/img/profile-img.jpg"></div>
                </div>
                <div class="acc-info-cont">
                    <div class="info-sec-l">
                        <div class="info-profile">
                            <!-- <img src="{% static 'img/profile-img.jpg' %}" alt="Profile"> -->
                            <div class="profile-pic-cont">
                            <img src="../static/img/profile.jpg">
                            <div class="profile-img-cam">
                                <div class="pro-cam-box">
                                    <i class="fas fa-camera camera"></i>
                                </div>
                            </div>
                        </div>
                        <h3 class="username">user.username</h3>
                        <p><i class="fas fa-location-dot"></i>&nbsp;&nbsp;India</p>
                        <div class="profile-info">
                            <p><span>2541</span>posts</p>
                            <p>+7 This Week</p>
                        </div>
                        <div class="soc-m-heading">Social Media</div>
                        <div class="social-pro">
                            
                            <div class="soc-med-div"><i class="fa-brands fa-facebook"></i></div>
                            <div class="soc-med-div"><i class="fa-brands fa-twitter"></i></div>
                            <div class="soc-med-div"><i class="fa-brands fa-instagram"></i></div>
                            <div class="soc-med-div"><i class="fa-brands fa-tiktok"></i></div>
                            <div class="soc-med-div"><i class="fa-brands fa-snapchat"></i></div>
                        </div>
                        <div class="view-profile">
                            <p>View profile&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></p>
                        </div>
                    </div>
                    </div>
                    <div class="info-sec-r">
                        <div class="inf-right-cont">
                            <div class="acc-nav">
                                <div class="acc-nav-cont">
                                    <ul class="acc-nav-ul">
                                        <li class="acc-nav-item">Your Posts</li>
                                        <li class="acc-nav-item">Your Posts</li>
                                        <li class="acc-nav-item">Your Posts</li>
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                            <div class="acc-cards">
                                <div class="acc-c-cont">
                                    <div class="a-card">
                                        <div class="card-up">
                                            <div class="card-up-l">
                                                <img src="../static//img/profile.jpg">
                                                <div class="card-name">
                                                    <p>Glend kmfl</p>
                                                    <p>5 hours ago</p>
                                                </div>
                                            </div>
                                            
                                            <div class="card-up-r">
                                                <i class="fa-solid fa-pencil"></i>
                                                <p>Lipstic</p>
                                            </div>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>

                                        <div class="card-mid">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ratione explicabo nisi eius, fuga iste sunt, itaque rem numquam dolorum blanditiis cumque fugit assumenda in.</p>
                                        </div>

                                        <div class="card-bot">
                                            <div class="card-bot-l">
                                                <i class="fas fa-share"></i>&nbsp;
                                            <p> 24 answers</p>
                                            </div>
                                            <div class="card-bot-r">
                                                <i class="fas fa-heart"></i>
                                            <i class="fas fa-share"></i>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>


    
</body>
</html>